@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

.nav {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
}

.search-box {
    width: 200px;
    height: 40px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px 0 0 10px;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    height: 40px;
    padding: 10px 20px;
    border: none;
    background: #383838;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 15px;
}

.nav-items a {
    margin-left: 20px;
}

.nav-items a img {
    width: 30px;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 5%;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.link:hover {
    opacity: 1;
}

.content {
    text-align: center;
    padding: 20px;
}

.logos {
    max-height: 80px;
}

.sub-heading {
    font-size: 24px;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-box {
        width: 150px;
    }

    .search-btn {
        width: 80px;
    }

    .nav-items {
        display: none;
    }
    
    .link-container {
        flex-direction: column;
        align-items: center;
    }
}

/* hero section */

.content{
    padding-top: 90px;
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/ruedas.jpg');
    background-size: cover;
    display: row;
    justify-content: center;
    align-items: center; 

}


.logos{
    height: 200px;
    display: block;
    margin: auto;
}

.sub-heading{
    text-align: center;
    color: #ffff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 400;
}




/* product

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
   
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; 
}

.product-container::-webkit-scrollbar{
    display: none;

}

.product-card{
     flex: 0 0 auto;
     width: 250px;
     height: 450px;
     margin-right: 40px;
}

.product-card-2{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
} 

.product-card-3{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
} 


.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width:  100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;

}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    } 

.product-card:hover .card-btn{
    opacity: 1;

}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
margin-left: 10px;
    opacity: 0.5;
    text-decoration: line-through;
} */

/* flechas  */

.atras-btn, .pasar-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.atras-btn{
    left: 0;
    transform: rotate(180deg); 
}

.pasar-btn{
    right: 0;
}

.atras-btn img, .pasar-btn img{
    opacity: 0.2;
}

.atras-btn:hover img, .pasar-btn:hover img{
    opacity: 1;
}

/* Collection  */

.slider {
    position: relative;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex; /
    justify-content: center; 
    align-items: center; 
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
 
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

/* quienes somos
 */
 .quienes-somos{
     margin: 50px 50px;
     padding: 10px;
     height: 10px;
     text-transform: uppercase;
     flex-wrap: wrap;
    }
.parrafo-quienes{
    padding: 20px 0px;
    margin: 20px 20px;
}

.button-mejores{
    margin: 50px 50px;
    padding: 10px;
    height: 50px;
    
}

/* wrapper  */

.features-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px;
    flex-wrap: wrap; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    border: 1px solid #ddd; 
}


.feature {
    flex: 1; 
    max-width: 200px; 
    text-align: center; 
    margin: 10px;
    padding: 10px;
}

.feature img {
    width: 50px; 
    height: auto; 
    display: block;
    margin: 0 auto;
}

.feature h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.feature p {
    font-size: 0.9em;
    color: #555;
}


@media screen and (min-width: 700px) {
    .nav-items a {
        margin-left: 20px;
        display: block;
    }

    .nav-items a img {
        width: 30px;
        display: block;
    }

    .product-container {
        padding: 0 10vw;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
}


    
    /* Producto */

    .product-container{
        padding: 0 10vw;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        
    }
   


@media screen and (min-width: 1204px) {
    .search {
        width: 500px;
        display: flex;
        margin-left: 25px;
    }
}


/* footer  */
footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo{
    height: 160px;
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
    color: #fff;
}

.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title{
    margin-top: 80px;
    color: #fff;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}



.product-category-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.category-button {
    background: #383838;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
